<div class="text-3xl mt-6 mx-auto my-6 font-bold  text-center text-pink-300 hover:text-pink-500 "><h2>Edit <%= resource_name.to_s.humanize %></h2></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put ,class: 'max-w-lg mx-auto ' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="flex items-center justify-center flex-wrap gap-4">
    <div class="shrink-0 flex flex-wrap justify-center">
      <!-- Image Preview Container -->
      <img id="preview_img" class="h-20 w-20 object-cover rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRNKEmBiAZl7Ftg31Rd0iZu4mjzvz42YMiashD4uzd0gwxI6w-MU5tTO0W3y7p_2qteIU&usqp=CAU" alt="Current profile photo" />
    </div>

    <label class="block">
      <span class="sr-only">Choose profile photo</span>
      <!-- File Input Field -->
      <%= f.file_field :image, onchange: "loadFile(event)", class: "block w-full text-sm text-slate-500
        file:mr-4 file:py-2 file:px-4
        file:rounded-full file:border-0
        file:text-sm file:font-semibold
        file:bg-violet-50 file:text-violet-700
        hover:file:bg-violet-100" %>
    </label>
  </div>
  <div class="field mb-4 mt-8">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-pink-500 focus:border-pink-500 shadow-black shadow-lg" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mb-4 mt-8">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-pink-500 focus:border-pink-500 shadow-black shadow-lg" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field mb-4 mt-8">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-pink-500 focus:border-pink-500 shadow-black shadow-lg" %>
  </div>

  <div class="field mb-4 mt-8">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" , class:"w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-pink-500 focus:border-pink-500 shadow-black shadow-lg"%>
  </div>

  <div class="actions flex flex-wrap gap-4 justify-center">
    <%= f.submit "Update", class: 'flex  justify-center h-26 w-32 mx-auto sm:h-26 sm:w-32  border-2 border-gray-400 dark:border-gray-700 font-semibold text-black dark:text-black rounded-xl  hover:bg-pink-200  my-6 py-2'%>
    <%= link_to "Back", :back , class:'flex  justify-center h-26 w-32 mx-auto sm:h-26 sm:w-32  border-2 border-gray-400 dark:border-gray-700 font-semibold text-black dark:text-black rounded-xl  hover:bg-pink-200  my-6 py-2'%>

  </div>
<% end %>

<div class="text-xl mt-6 mx-auto my-6 font-bold  text-center text-pink-300 hover:text-pink-500 "><h3>Cancel my account</h3></div>
<div class=" flex justify-center gap-4">
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"inline-flex items-center px-4 py-2  border-2 border-gray-400 dark:border-gray-700 font-semibold text-black dark:text-black rounded-xl  hover:bg-pink-200" %>
</div>

<script>
  // JavaScript function to update the image preview
  var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('preview_img');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script>