<%= render partial: 'layouts/navbar' %>

<div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

    <!--Main Col-->
    <div 
        class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white  mx-6 lg:mx-0">
        <div class="p-4 md:p-12 text-center lg:text-left">
            <!-- Image for mobile view-->
            <div class="block lg:hidden rounded-full mx-auto mt-16 h-48 w-48 bg-cover bg-center">
                <%= image_tag current_user.image , class:"rounded-full mx-auto  h-48 w-48 bg-transparent "%>
                </div>
                <%= content_tag :span, current_user.first_name, class: "max-w-7xl text-3xl font-bold pt-8 lg:pt-0 hover:text-gray-500 text-pink-500" %>
                <br>
                <%= content_tag :span, current_user.last_name, class: "max-w-7xl text-3xl font-bold pt-8 lg:pt-0 hover:text-gray-500 text-pink-500" %>
                <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-pink-500 opacity-25"></div>

                <p class="pt-8 text-sm">Creating your own sunshine. <br>You must be the change you wish to see in the world</p>
                <ul class="py-4 mt-2 text-gray-700 flex items-center justify-around">
                <li class="flex flex-col items-center justify-around">
                    <svg class="w-4 fill-current text-pink-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                    </svg>
                    <div>2k</div>
                </li>
                <li class="flex flex-col items-center justify-between">
                    <svg class="w-4 fill-current text-pink-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M7 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1c2.15 0 4.2.4 6.1 1.09L12 16h-1.25L10 20H4l-.75-4H2L.9 10.09A17.93 17.93 0 0 1 7 9zm8.31.17c1.32.18 2.59.48 3.8.92L18 16h-1.25L16 20h-3.96l.37-2h1.25l1.65-8.83zM13 0a4 4 0 1 1-1.33 7.76 5.96 5.96 0 0 0 0-7.52C12.1.1 12.53 0 13 0z" />
                    </svg>
                    <div>10k</div>
                </li>
                <li class="flex flex-col items-center justify-around">
                    <svg class="w-4 fill-current text-pink-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z" />
                    </svg>
                    <div>15</div>
                </li>
                </ul>
                <div class=" pt-12 pb-8">
                 <%= link_to "Edit Profile", edit_user_registration_path,class:" font-bold bg-pink-200 py-2 px-4 rounded-full text-gray-500 hover:bg-pink-500"%>
                </div>
            </div>

        </div>

        <!--Img Col-->
        <div class="w-full lg:w-2/5">
            <!-- Big profile image for side bar (desktop) -->
                    <% if user_signed_in? %>
        <% if current_user.image.present? %>
        <%= image_tag current_user.image , class:"rounded-none lg:rounded-xl  w-3/5 shadow-2xl hidden lg:block"%>
        <% else %>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQecJDGqSXvt1hv2K1EW8eL7Y5w_fAfvtpFUtA9vzlMAA&s" class=" bg-transparent h-14 w-16 rounded-full">
        <% end %>
        <% else %>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuxHEFkdK7Ib_7b3y6LfJvV02p3oyBvHjhuH-W5xRWHQ&s" class=" bg-transparent h-14 w-16 rounded-full">
        <% end %>


    </div>


</div>


