
<nav class="bg-gradient-to-r from-gray-300 via-white to-gray-300">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
   <div class="flex items-center space-x-3 rtl:space-x-reverse"> 
     <img src="https://hinespress.com/wp-content/uploads/2023/06/White-Pink-Journal-Notebook-Writer-Quote-Animated-Social-Media-Facebook-Post.gif" class="h-14 w-16 rounded-full " alt="logo" />
     <span class="self-center text-2xl font-semibold whitespace-nowrap text-pink-400 ">Notebooky</span>
    </div>

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">

      <div class="relative w-full group flex">
      <button class=" max-w-7xl text-lg hover:text-pink-900  text-gray-500  py-2.5 px-3 w-full md:text-md text-site bg-transparent border border-dimmed  focus:border-brand focus:outline-none focus:ring-0 peer flex items-center justify-between rounded "> 
      <% if user_signed_in? %>
        <%= content_tag :span, current_user.first_name, class: "max-w-7xl text-lg hover:text-pink-900 text-gray-500" %>
      <% else %>
        <h1>Profile</h1>
      <% end %>
        </button>
          <div
            class="absolute z-[99] top-[100%] left-[50%] translate-x-[-50%] rounded-md overflow-hidden shadow-lg min-w-[200px] w-max peer-focus:visible peer-focus:opacity-100 opacity-0 invisible duration-200 p-1 bg-gray-100 from-gray-300 via-white to-gray-300  border border-dimmed text-xs md:text-sm">
            <% if user_signed_in? %>
            <div
              class=" w-full block cursor-pointer hover:bg-pink-200  dark:bg-transparent hover:text-link px-3 py-2 rounded-md">
            <%= link_to "Profile ", articles_profile_path,class:"block py-2 px-3 text-gray-500 hover:bg-pink-200"%>
            </div>
            <div
              class=" w-full block cursor-pointer hover:bg-pink-200  dark:bg-transparent hover:text-link px-3 py-2 rounded-md">
            <%= link_to "Edit Profile", edit_user_registration_path,class:"block py-2 px-3 text-gray-500 hover:bg-pink-200"%>
            </div>
            <div
              class=" w-full block cursor-pointer hover:bg-pink-200  dark:bg-transparent hover:text-link px-3 py-2 rounded-md">
            <%= link_to "Log Out", destroy_user_session_path,method: :delete,class:"block py-2 px-3 text-gray-500 hover:bg-pink-200"%>
            </div>
            <%else%>
            <div
              class=" w-full block cursor-pointer hover:bg-pink-200   dark:bg-transparent hover:text-link px-3 py-2 rounded-md">
              <%= link_to "Sign Up", new_user_registration_path,class:"block py-2 px-3 text-gray-500 hover:bg-pink-200"%>
              </div>
            <div
              class=" w-full block cursor-pointer hover:bg-pink-200  dark:bg-transparent hover:text-link px-3 py-2 rounded-md">
            <%= link_to "Log In", new_user_session_path,class:"block py-2 px-3 text-gray-500 hover:bg-pink-200"%>
            </div>

          <%end%>
        </div>

      <div class="flex items-center  dropdown">
        <% if user_signed_in? %>
        <% if current_user.image.present? %>
        <%= image_tag current_user.image , class:"h-16 w-24 rounded-full"%>
        <% else %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQecJDGqSXvt1hv2K1EW8eL7Y5w_fAfvtpFUtA9vzlMAA&s" class=" bg-transparent h-14 w-16 rounded-full">
        <% end %>
         <% else %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuxHEFkdK7Ib_7b3y6LfJvV02p3oyBvHjhuH-W5xRWHQ&s" class=" bg-transparent h-14 w-16 rounded-full">
         <% end %>
      </div>
      </div>

    </div>
    
    <div class="items-center justify-between  w-full md:flex md:w-auto md:order-1">
    <ul class="flex flex-col font-medium p-4 md:p-2 mt-4 border border-gray-100 rounded-lg bg-pink-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-pink-100 md:dark:bg-pink-100 dark:border-gray-300">
      <li>
      <%= link_to 'home' , root_path , class:" max-w-7xl text-lg hover:text-pink-900  text-gray-500  py-2.5 px-3 w-full md:text-md text-site bg-transparent border border-dimmed  focus:border-brand focus:outline-none focus:ring-0 peer flex items-center justify-between rounded" %></p>
      </li>
      <% if user_signed_in? %>
      <li>
      <%= link_to 'notebooks' , articles_path , class:" max-w-7xl text-lg hover:text-pink-900  text-gray-500  py-2.5 px-3 w-full md:text-md text-site bg-transparent border border-dimmed  focus:border-brand focus:outline-none focus:ring-0 peer flex items-center justify-between rounded "%></a>
      </li>
       <% end %>
      <li>
       <%= link_to 'Contact' , articles_contact_path , class:" max-w-7xl text-lg hover:text-pink-900  text-gray-500  py-2.5 px-3 w-full md:text-md text-site bg-transparent border border-dimmed  focus:border-brand focus:outline-none focus:ring-0 peer flex items-center justify-between rounded " %></a>
      </li>
      <li>
      <% if user_signed_in? %>
        <%= link_to "New Notebook", new_article_path,class: "max-w-7xl text-lg hover:text-pink-900  text-gray-500  py-2.5 px-3 w-full md:text-md text-site bg-transparent border border-dimmed  focus:border-brand focus:outline-none focus:ring-0 peer flex items-center justify-between rounded "%>
      <%end%>
      </li>
     
    </ul>
  </div>
  </div>
</nav>

<!-- <nav class="flex justify-between items-center mx-auto bg-gradient-to-r from-gray-300 via-white to-gray-300 inset-x-0 top-0 ">
  <div class="space-x-4">
<%= link_to "New Article", new_article_path,class:"flex  justify-center   border-2 border-gray-400 dark:border-gray-300 font-semibold text-black dark:text-black rounded-md p-2  hover:bg-pink-200"%>
  </div>
  
  <div class="flex items-center">
    <button type="submit" class="bg-gray-100 text-gray p-2 rounded-md hover:bg-pink-300">Contact</button>
  </div>


        <li><%= link_to "Sign Up", new_user_registration_path,class:"block py-2 px-3 text-gray-500 hover:bg-pink-200"%></li>
      <li><%= link_to "Sign In", new_user_session_path,class:"block py-2 px-3 text-gray-500 hover:bg-pink-200"%></li>
      <li><%= link_to "Sign Out", destroy_user_session_path,method: :delete,class:"block py-2 px-3 text-gray-500 hover:bg-pink-200"%></li>
      <li><%= link_to "Edit Profile", edit_user_registration_path,class:"block py-2 px-3 text-gray-500 hover:bg-pink-200"%></li>
</nav>-->

