<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.tailwindcss.com" %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class=" h-full w-full  bg-gradient-to-r from-gray-500 via-white to-gray-500">
      <%= yield %> 
  </body>
</html>
